<footer>
  <div class="f-info">
    <div class="f-info-socials">
      <a href="https://www.linkedin.com/in/nithyanandvk/"
        ><i class="fa-brands fa-linkedin"></i
      ></a>
      <a href="mailto:nithyanandvk2005@gmail.com"
        ><i class="fa-solid fa-envelope"></i
      ></a>
      <a href="https://www.instagram.com/nithyanandvk1308/"
        ><i class="fa-brands fa-square-instagram"></i
      ></a>
    </div>
    <div class="f-info-brand">Made with &hearts; by V K Nithyanand</div>
    <div class="f-info-links">
      <a href="/listings">Explore</a> &amp;
      <a href="/listings">Stay</a>
    </div>
  </div>
</footer>
