<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wanderlust</title>
</head> -->
<%layout("/layouts/boilerplate")%>
<body>
  <div class="row">
    <div class="col-8 offset-2 mt-3">
      <h1>Create a New Listing</h1>
      <br />
      <form
        action="/listings"
        method="POST"
        novalidate
        class="needs-validation"
      >
        <div class="mb-3">
          <label for="title" class="form-label">Title</label>
          <input
            name="listing[title]"
            class="form-control"
            type="text"
            placeholder="Add a catchy title"
            required
          />
          <div class="valid-feedback">title looks good!</div>
        </div>
        <div class="mb-3">
          <label for="description" class="form-label">Description</label>
          <textarea
            name="listing[description]"
            class="form-control"
            required
          ></textarea>
          <div class="invalid-feedback">Please enter a short description</div>
        </div>
        <div class="mb-3">
          <label for="image" class="form-label">Image Link</label>
          <input
            name="listing[image]"
            class="form-control"
            type="text"
            placeholder="Enter image URL/link"
          />
        </div>
        <div class="row">
          <div class="mb-3 col-md-4">
            <label for="price" class="form-label">Price</label>
            <input
              name="listing[price]"
              class="form-control"
              placeholder="1800"
              required
            />
            <div class="invalid-feedback">Price should be valid</div>
          </div>
          <div class="mb-3 col-md-8">
            <label for="country" class="form-label">Country</label>
            <input
              name="listing[country]"
              class="form-control"
              type="text"
              placeholder="India"
              required
            />
            <div class="invalid-feedback">Country name should be valid</div>
          </div>
        </div>
        <div class="mb-3">
          <label for="location" class="form-label">Location</label>
          <input
            name="listing[location]"
            class="form-control"
            type="text"
            placeholder="Palamaner, Andhra Pradesh"
            required
          />
          <div class="invalid-feedback">Location should be valid</div>
        </div>

        <button class="btn btn-dark add-btn mt-3">Add</button>
        <br /><br />
      </form>
    </div>
  </div>
  <!-- <script src="/js/script.js"></script> -->
</body>
<!-- </html> -->
